 * {
  font-family: "Inter Tight", sans-serif;
 }
.contact-container1 {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),   
      rgba(0, 0, 0, 0.6)    
    ),
    url('../assets/images/meggeimage.jpg');
  background-size: cover ;
  background-position: center;
  justify-items: center;
  padding-top: 150px;
  height: 450px;
}
p {
  font-family: "Poppins", sans-serif;
}
.contact-container h2 {
  color: white;
  font-size: 50px;
}

.contact-container {
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
  --Header_font: "Inter Tight", sans-serif;
  --Paragraph_font: "Poppins", sans-serif;
}
.button1 {
  color: white;
  background-color: blue;
  padding: 15px;
  border-radius: 5px;
  border: none;
  justify-items: center;
  display: flex;
  margin-top: 70px;
}
.button2{
  color: white;
  background-color: rgba(7, 212, 34, 0.829);
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.contacts {
  margin-top: 38px;
  color:rgba(0, 0, 0, 0.959);
  box-sizing: border-box;
  background-color: rgba(231, 233, 232, 0.425);
  box-shadow: 3px 3px 7px rgb(231, 227, 227);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.icons i {
  color: blue;
  box-sizing: border-box;
  background-color: rgba(178, 211, 238, 0.678);
  border-radius: 50%;
  padding: 12px;
  margin: 20px;
}
.icons {
  padding: 15px;
  color: black;
  box-sizing: border-box;
  background-color: rgba(247, 248, 247, 0.973);
  border-right: 1px solid rgba(66, 143, 231, 0.842);
  text-align: center;
}
 .icon p {
  display: inline-block;
  text-align: center;
}
.heading {
  font-weight: bold;
  padding-top: 20px;
  line-height: 20px;
  text-align: center;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.media {
  color:black;
}

.site{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.button2 {
  color: white;
}
.message {
  color:rgb(8, 8, 8);
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.message:hover {
  color: rgba(66, 143, 231, 0.842)
}
.image11 img {
  width: 70%;
  height: 80%;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-right: 1px;
}