.footer{
  background: linear-gradient(rgba(8, 18, 118, 0.9), rgba(13, 4, 113, 0.9)), url('src/assets/Microsoft Surface Book.jpg');
    /* background-color: var(--primary_color); */
    margin-top: 100px;
    padding: 60px 50px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.sub{
    /* border: 1px solid yellow; */
}
.sub .brand{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.sub .brand h3{
    font-size: 40px;
}
.brand img{
    width: 60px;
}

.sub p{
    color: var(--white_dark);
    font-family: var(--Paragraph_font);
}
.sub h3{
    color: var(--white_color);
    font-family: var(--Header_font);
    font-size: 18px;
}
.sub ul{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.sub ul a {
    color: var(--white_dark);
    text-decoration: none;
    font-family: var(--Paragraph_font);
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.sub a:hover{
    color: var(--white_color);
}
.social .div{
    background-color: var(--secondary_color);
    padding: 7px 9px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
    border: 1px solid var(--secondary_color);
}
.social .div:hover{
    background-color: var(--primary_color);
    border: 1px solid var(--secondary_color);
}
.social a i{
    color: var(--white_color);
    font-size: 20px;
}
hr{
    border: 1px solid var(--secondary_color);
    margin-top: 60px;
    opacity: 0.3;
}
.last{
    text-align: center;
}
.last p{
    color: var(--white_color);
    font-family: var( --Paragraph_font);
    margin-top: 10px;
}
/* Media Querry */
@media(max-width: 640px){
    .container{
        flex-direction: column;
        gap: 50px;
    }
    .social{
        justify-content: center;
        align-items: center;
    }
}
