* {
   --Header_font: "Inter Tight", sans-serif;
   --Paragraph_font: "Poppins", sans-serif;
  
}
.request-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  background: linear-gradient(to left,
      #001bb770,   
      rgba(216, 216, 218, 0.075)    
    );
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.request-container h1 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid black; 
  width: 0; 
  animation: typing 3s steps(30, end) forwards, blink 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.request-container p {
  text-align: center;
  color:black;
  font-size: 14px;
  margin-bottom: 20px;
}

.request-form label {
  display: inline-block;
  margin-bottom: 15px;
  color: #333;
  font-weight: 500;
  
}

.request-form input,
.request-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #4d4141;
  border-radius: 6px;
  outline: none;
  margin-top: 5px;
  font-size: 14px;
}

.request-form input:focus,
.request-form textarea:focus {
  border-color: #001BB7;
}

.request-form button {
  width: 100%;
  background-color: #001BB7;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.7s ease;
}

.request-form button:hover {
  background-color: #0f5fc4;
}
.gadget {
  background: 
    linear-gradient(to right,
      #d5d7e44b,   
      rgba(223, 223, 226, 0.151)    
    );
   padding: 50px;
    
}

.forms {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}
.details {
  width: 100%;
}

.details textarea {
  width: 100%;
  min-height: 120px;
}

.email {
  width: 100%;
}

.email input {
  width: 100%;
}
.first {
  display: flex;
  gap: 20px;
}
.number {
  display: flex;
  gap: 20px;
}
