* {
   --Header_font: "Inter Tight", sans-serif;
   --Paragraph_font: "Poppins", sans-serif;
  
}
.request-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 15px;
  background: linear-gradient(to left,
      #001bb770,   
      rgba(216, 216, 218, 0.075)    
    );
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(66, 143, 231, 0.842);
  box-shadow: 4px 7px 9px rgba(128, 128, 128, 0.253);
}

.request-container h1 {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 3px solid black; 
  width: 0; 
  animation: typing 7s steps(30, end) forwards, blink 0.7s step-end infinite;
  animation-iteration-count: 5 ;
  font-size: medium;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

.request-container p {
  text-align: center;
  color:black;
  font-size: 14px;
  margin-bottom: 20px;
}

.request-form label {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
  
}

.request-form input,
.request-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #4d4141;
  border-radius: 6px;
  outline: none;
  margin-top: 5px;
  font-size: 14px;
}

.requestformCtn {
  display: flex;
  gap: 10px;
  width: 100%;
}

.inputCtn {
  width: 50%;
  margin-top: 20px;
}

.email, .details {
  margin-top: 20px;
}

.inputCtn label, .email label, .details label {
  padding: 0;
  margin: 0;
}

.request-form input:focus,
.request-form textarea:focus {
  border-color: #001BB7;
}

.request-form textarea {
  min-height: 140px;
  max-height: 150px;
  resize: vertical;
}

.request-form button {
  width: 100%;
  background-color: rgba(8, 19, 141, 0.719);
  margin-top: 20px;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.7s ease;
}

.request-form button:hover {
  background-color: black;
}
.gadget {
  background: 
    linear-gradient(to right,
      #d5d7e44b,   
      rgba(223, 223, 226, 0.151)    
    );
   padding: 20px;
}

.forms {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.details {
  width: 800px;
}

.details textarea {
  width: 100%;
  min-height: 120px;
}
.email {
  width: 100%;
}

.email input {
  width: 100%;
}
.first {
  display: flex;
  gap: 20px;
}
.number {
  display: flex;
  gap: 20px;
}
.gadgetlogo img {
  width: 80px;
  height: 80px;
  padding-top: 0px;
  margin-top: 0;
  margin-left: 30px;
}
.gadgetlogo {
  display: flex;
  justify-content: left;
  margin-top: 40px;
  gap: 80px;
  margin-left: 20px;
}
.fill {
  margin: 10px;
}
.request-container:hover {
  border: 1px solid #001BB7;
}

@media (max-width: 400px) {
  .request-container {
    margin: 20px;
    padding: 10px;
  }

  .requestformCtn {
    flex-direction: column;
  }

  .inputCtn {
    width: 100%;
  }

  .first, .number {
    flex-direction: column;
    gap: 10px;
  }

  .details {
    width: 50%;
  }
  

  .gadgetlogo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 0;
  }

  .gadgetlogo img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  .forms {
    flex-direction: column;
    align-items: center;
  }
}


@media (min-width: 400px) and (max-width: 1024px) {
  .request-container {
    max-width: 700px;
  }

  .requestformCtn {
    flex-wrap: wrap;
  }

  .inputCtn {
    width: 49%;
  }

  .details {
    width: 100%;
  }

  .gadgetlogo {
    gap: 20px;
    justify-content: left;
  }

  .forms {
    flex-direction: column;
    align-items: center;
  }
  .fill {
    text-size-adjust: 1.5rem;
    width: 1.5rem;
  }
  .fill {
    font-size: 15px;
  }
}


@media (min-width: 1025px) {
  .request-container {
    max-width: 900px;
  }

  .forms {
    flex-direction: row;
    justify-content: center;
  }

  .gadgetlogo {
    justify-content: flex-start;
    gap: 70px;
  }
  .fill h1{
    font-size: xx-large;
  }
  .fill {
    width: 500px;
  }
}
