/* Request CSS */
.heroBgMedia {
  width: 100%;
  min-height: 500px;
  background-position: center;
  background-image: url('src/assets/Microsoft Surface Book.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.heroBg {
  background: linear-gradient(120deg, rgba(4, 26, 154, 0.6) 0%, rgb(4, 26, 154)) ;
  color: var(--white_color);
  position: relative;
  font-family: var(--Paragraph_font);
  padding: 180px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.heroBg h1 {
  font-size: 3.5rem;
  text-align: center;
  font-family: var(--Paragraph_font);
}

.heroBg-subtitle {
  font-size: 0.9rem;
  text-align: center;
  padding: 0 150px;
  opacity: 0.9;
  font-weight: 300;
}


.contactContainer {
    display: flex;
    gap: 40px;
    padding: 100px 200px;
    margin-bottom: 100px;
    background-color: #F1F1F1;
    justify-content: center;
}

.contactInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contactItem {
    background-color: var(--white_color);
    display: flex;
    gap: 20px;
    font-family: var(--Paragraph_font);
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
}

.contactItem i {
    display: flex;
    background-color: var(--secondary_color);
    color: var(--primary_color);
    padding: 20px;
    width: 15px;
    height: 15px;
    transform: translateY(6px);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.contactFormContainer {
    width: 70%;
    background-color: var(--white_color);
    padding: 20px;
    border-radius: 5px;
    font-family: var(--Paragraph_font);
}

.contactFormContainer h2 {
    margin-bottom: 1px;
}

.contactFormContainer p {
    margin-bottom: 25px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactInput {
    width: 100%;
    display: flex;
    gap: 10px;
}

.contactInput input, .contactForm textarea {
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    font-size: 1rem;
    padding: 15px;
}

.contactInput input::placeholder, .contactForm textarea::placeholder {
    font-size: 1rem;
    color: gray;
}

.contactForm textarea {
    resize: vertical;
    min-height: 120px;
}

.contactBtn {
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 1rem;
    color: var(--white_color);
    font-weight: 600;
    background-color: var(--primary_color);
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.contactBtn:hover {
    cursor: pointer;
    background-color: var(--Black_Hover_color);
}