*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --Header_font: "Inter Tight", sans-serif;
  --Paragraph_font: "Poppins", sans-serif;
  --primary_color: #041a9a;
  --white_color: #ffffff;
  --Subtitle_color: #666666;
  --Black_color: #000000;
  --Black_Hover_color: #3a3939;
  --secondary_color: #99ccff;
}