*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--primary_color);
  color: var(--white_color);
}

a {
  text-decoration: none;
}

:root{
  --Header_font: "Inter Tight", sans-serif;
  --Paragraph_font: "Poppins", sans-serif;
  --primary_color: #041a9a;
  --white_color: #ffffff;
  --white_dark: #e6e3e3;
  --Subtitle_color: #666666;
  --Black_color: #000000;
  --Black_Hover_color: #3a3939;
  --secondary_color: #70b6fc;
}

header {
  position: sticky;
  top: 0;
  z-index: 20000;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.01);
}

nav{
  display: flex;
  /* justify-content: center; */
  gap: 30px;
  align-items: center;
}
nav img{
  width: 60px;
}